<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/font.css">
    <link rel="stylesheet" href="../styles/404.css">
    <link rel="stylesheet" href="../styles/style.css">
    <title>مدیا مهاجرت</title>
</head>

<body dir="rtl">
    <!-- HEAFER SITE 404  -->
    <header class="header">
        <div>
            <img class="logo" src="../images/Logo.png" alt="Logo">
            <h3>مدیا مهاجرت</h3>
        </div>
        <nav>
            <ul class="nav-ul">
                <li>
                    <a href="#">خانه</a>
                </li>
                <li>
                    <a href="#">خبرها</a>
                    <img src="../images/down-arrow-svgrepo-com.svg" alt="down-arrow">
                </li>
                <li>
                    <a href="#">مقاله</a>
                    <img src="../images/down-arrow-svgrepo-com.svg" alt="down-arrow">
                </li>
                <li>
                    <a href="#">ویدئو</a>
                    <img src="../images/down-arrow-svgrepo-com.svg" alt="down-arrow">
                </li>
                <div class="btn-nav">
                    <img src="../images/heart.png" alt="heart">
                    <img src="../images/search.png" alt="">
                    <div>
                        <button>
                            <a href="./signIn.html">ثبت نام</a>
                        </button>
                    </div>
                </div>
            </ul>
        </nav>
        <!-- MENU HAMBER -->
        <div class="menu">
            <img src="../images/user.png" alt="user">
            <img src="../images/search.png" alt="search">
            <img src="../images/menu.png" alt="menu">
        </div>
    </header>

    <!-- PAGE 404  -->

    <div class="container-404">
        <img src="../images/404.png" alt="404">
        <article>
            <p>
                عذر می‌خواهم، صفحه مورد نظر پیدا نشد. لطفاً آدرس صفحه را بررسی <br />کرده و دوباره تلاش کنید یا از نوار
                جستجوی بالای صفحه استفاده کنید<br /> تا به دنبال مطلب مورد نظرتان بگردید.
            </p>
        </article>
        <button>
            <a href="./index.html">برگشت به صفحه اصلی</a>
        </button>
    </div>
</body>

</html>