<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/font.css">
    <link rel="stylesheet" href="../styles/signIn.css">
    <title>مدیا مهاجرت</title>
</head>

<body dir="rtl">
    <!-- LOGO -->
    <div class="container-cart">

        <div class="container">
            <section class="media-logo">
                <img class="logo" src="../images/Logo.png" alt="Logo">
                <h3>مدیا مهاجرت</h3>
            </section>
            <!-- COUNTER -->
            <main>
                <section class="section">
                    <h1>حساب خود را ایجاد کنید!</h1>
                    <p>قبلا حساب ایجاد کردید؟
                        <span>ورود</span>
                    </p>
                </section>
            </main>
            <!-- GOOGLE  -->
            <main>
                <section class="section-google">
                    <button>
                        <img src="../images/google.png" alt="google">
                        <span>ادامه با گوگل</span>
                    </button>
                    <div class="text">
                        <span>یا</span>
                    </div>
                </section>
            </main>
            <!-- FORM BTN -->
            <form class="form">
                <input type="email" placeholder="ایمیل آدرس">
                <br>
                <input type="number" placeholder="شماره موبایل">
                <br>
                <input type="password" placeholder="رمز عبور">
                <br>
                <button>ایجاد حساب کاربری</button>
            </form>
        </div>
    </div>
</body>

</html>