* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: IRANYekan;
}

/* styles Header */

.header {
    width: 1290px;
    display: flex;
    padding: 1.5rem 7rem;
    align-items: center;
}

.header div {
    display: flex;
}

.logo {
    width: 60px;
    height: 60px;
}

.header h3 {
    color: #0878AF;
    margin: 1rem .5rem;
}

.nav-ul {
    display: flex;
    list-style: none;
}

.nav-ul li {
    margin: 2rem 3rem;
}


.nav-ul img {
    width: 10px;
    height: 8px;
    margin: .25em;
}

.nav-ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #1a1b1b;
    font-size: 18px;
}

.btn-nav {
    width: 145px;
    height: 60px;
    margin: 0 4rem;

}

.btn-nav img {
    width: 145px;
    height: 60px;
    background-color: #EEF1F2;
    border-radius: 10px;

}

.btn-nav button {
    width: 145px;
    height: 60px;
    background-color: #0878AF;
    border: none;
    border-radius: 10px;
    margin-top: .25rem;
    cursor: pointer;
}

.btn-nav button a {
    color: #ffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;

}

.menu img {
    display: none;
}

/* BANNER SITE */


.aside {
    padding-right: 6rem;
}

.aside h6 {
    color: #1a1b1b;
    font-size: 16px;
}

.aside h1 {
    color: #0878AF;
}

.aside h2 {
    color: #000;
    font-size: 28px;
    font-weight: bold;
}

.aside p {
    color: #1a1b1b;
    padding: 1.5rem 0 4rem;
    font-size: 18px;
    font-weight: bold;

}

.aside button {
    background-color: #0878AF;
    width: 237px;
    height: 60px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.aside button a {
    color: #ffff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.container-banner {
    display: flex;
    justify-content: space-between;
}

.container-banner {
    padding-left: 7rem;
}

.section-banner img {
    width: 506px;
    height: 533px;
}

/* Media */

@media (max-width:600px) {
    .header {
        padding: 1rem .5rem;
        width: 100%;
    }

    .header h3 {
        margin: .5rem .5rem;
    }

    .nav-ul {
        display: none;
    }

    .menu {
        position: absolute;
        top: 20px;
        right: 30%;
    }

    .menu img {
        margin: 5px;
        width: 30px;
        height: 30px;
        background-color: #EEF1F2;
        border-radius: 10px;
    }

    .aside {
        align-items: center;
        margin: auto;
    }
}

/* media 992px */

@media (max-width:900px) {
    .header {
        padding: 1rem .5rem;
    }

    /* .logo {
        width: 40px;
        height: 40px;
    } */

    .header h3 {
        margin: 1.25rem 1rem;
    }

    .nav-ul {
        display: none;
    }

    .menu {
        position: absolute;
        top: 20px;
        /* right: 100% !important; */
    }

    .menu img {
        display: flex;
        margin: 5px;
        width: 30px;
        height: 30px;
        background-color: #EEF1F2;
        border-radius: 10px;
    }

    /* BANNER */
    .container-banner {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        /* text-align: center; */
        display: none;

    }

}

/* media 1200px */

@media (max-width:1200px) {
    .header {
        padding: 1rem .5rem;
    }

    /* .logo {
        width: 50px;
        height: 50px;
    } */

    .header h3 {
        margin: .5rem .5rem;
    }

    .nav-ul {
        display: none;
    }

    .menu {
        position: absolute;
        top: 20px;
        right: 130%;
    }

    .menu img {
        display: flex;
        margin: 5px;
        width: 30px;
        height: 30px;
        background-color: #EEF1F2;
        border-radius: 10px;
    }
}